:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif;

  line-height: 1.6;
  font-weight: 400;

  color-scheme: dark;
}

/* RESET BASE */
* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background: radial-gradient(
    circle at top,
    #2a2420 0%,
    #1f1f1f 40%,
    #1a1a1a 100%
  );
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(
    circle at top,
    #2a2420 0%,
    #1f1f1f 40%,
    #1a1a1a 100%
  );
  color: #f5f5f5;
}

/* TESTI */
h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: -0.02em;
}

p {
  color: #d6d3d1;
}

/* LINK */
a {
  color: #cbbfae;
  text-decoration: none;
}

a:hover {
  color: #e7dccb;
}
